{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link  href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/forma.css" %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">EduPlanner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/">Crear evento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="home" class="jumbotron">
        <div class="container">
            <h1 class="display-4">Bienvenido a EduPlanner</h1>
            <p class="lead">en este sitio le facilitaremos el uso y manejo de su calendario academico, facilitando la creacion de eventos y el manejo de estos, ademas de incluir los feriados y calendarios nacionales</p>
        </div>
    </div>
    <h1>Eventos Academicos</h1>
    {% for evento in Lista_eventos %}
    <div class="event-card">
        <div class="event-info">
            <h3 class="event-name">{{evento.titulo}}</h3>
            <h3 class="event-institution">{{evento.institucion}}</h3>
            <p class="event-description">{{evento.descripcion}}</p>
            <h3 class="event-start">{{evento.fecha_inicio}}</h3>
            <h3 class="event-end">{{evento.fecha_final}}</h3>
        </div>
    </div>
    <hr>   
    {%  endfor %}
    <h1>Feriados</h1>
    {% for feriado in Lista_feriados%}
    <div class="holiday-card">
        <div class="holiday-info">
            <h3 class="holiday-name">{{feriado.nombre}}</h3>
            <p class="holiday-description">{{feriado.descripcion}}</p>
            <h3 class="holiday-date">{{feriado.fecha}}</h3>
        </div>
    </div>
    <hr>
    {% endfor %} 
</body>
</html>